<%= image_tag 'logo.png', alt: 'Suporte Acadêmico', class: 'pull-right logo' %>

<div class="conteudo">
  <h1>Olá!</h1>
  <p class="lead">
    Temos mais de 5.000 profissionais cadastrados pelo país, 
    oferecendo os mais diversos serviços acadêmicos.<br>
    Todos foram submetidos a treinamentos e avaliados 
    nas funções específicas. <br>
    Consulte nossa listagem de tarefas já disponíveis.<br>
    Caso tenha alguma necessidade específica, 
    favor nos encaminhar sua solicitação. <br><br>
    Pare de quebrar a cabeça e cadastre-se já no maior marketplace 
    acadêmico do Brasil!
  </p>

  <br><br>

  <h3>Serviços</h3>
  <ul>
    <li>Preenchimento de formulário para pesquisa e bolsistas do CNPQ</li>
    <li>Atualização de currículum Lattes</li>
    <li>Colocação do texto de acordo com as normas técnicas da ABNT</li>
    <li>Tradução nos mais diversos idiomas</li>
    <li>Serviços de ghost writer para: monografia, discertação, confecção de resenhas, Abstrat e teses</li>
    <li>Adaptação da linguagem acadêmica para uma linguagem coloquial</li>
    <li>Adaptação da linguagem coloquial para a linguagem academia <br>
        (com citações e adequações linguísticas)</li>
    <li>Reescrita de textos acadêmicos para  publicação em outra revista</li>
  </ul>

  <p class="text-center">
  <br><br>
    <a class="typeform-share link btn btn-lg btn-warning" href="https://jnettome.typeform.com/to/mtcYXc" data-mode="1" target="_blank">Cadastre-se</a>
  </p>

  <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
</div>