/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$start: #f53a34;
$end: #fc9d3c;
body {
  background-color: $start;
  background-repeat: repeat-y;

  background: -webkit-gradient(linear, left top, right top, from($start), to($end));
  background: -webkit-linear-gradient(left, $end, $start);
  background: -moz-linear-gradient(left, $end, $start);
  background: -ms-linear-gradient(left, $end, $start);
  background: -o-linear-gradient(left, $end, $start);

  font-family: Helvetica, Arial, serif;
  font-weight: bold;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img.logo {
  margin: 20px;
  width: 260px;
}

.conteudo {
  color: #fff;
  
  h1, h2, h3 {
    font-weight: 700;
  }

  .lead {
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1px;
  }
}